# <b> Data Science Tools and Ecosystem ##

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. R
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. Scikit-learn
5. Matplotlib

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Introduce open-source tools commonly used in Data Science  
- Demonstrate how to use Markdown cells to format content  
- Perform basic arithmetic operations using Python  
- Convert units like minutes to hours using code

## Author  Clara Tan Xin Yue